* {
    font-family: Calibri;
}
body {
    background: darkseagreen;
    width: 900px;
    margin: auto;
}
#tabla {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 150px;
}
#dia{
    padding: 20px;
}
header {
    text-align: center;
}
#titulo {
    margin-top: 150px;
}
.agenda {
    width: 500px;
    float: left;
}
.Informacion {
    width: 350px;
    float: right;
    background: rgba(105, 105, 105, 0.42);
    padding: 10px;
    border-radius: 20px;
}
footer {
    clear: both;
}