h1, li, h2, form, div {
    display: block;
}

body {
    background-image: url("../../static/img/fondoAgenda.png");
    background-size: cover;
}

.deber {
    font-size: 30px;
    padding: 10px;
    text-align: center;
   }

.acciones {
    text-align: center;
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 12px;
}

.imagenes {
    width: 20%;
}

.subtitulos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.seleccionar {
    color: black;
    background-color: lightgray;
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    padding: 5px 10px;
}

.eliminar {
    color: black;
    background-color: lightgreen;
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    padding: 5px 10px;
}

.acciones1 form, .acciones2 form{
    margin: 20px;
}

.acciones {
    display: flex;
  }
  
.acciones div {
    flex: 1;
    padding: 10px;
}

.acciones .borde1 {
    background-color: rgba(148, 188, 156,0.7);
    border-radius: 20px;
}

.acciones .borde2 {
    background-color: rgba(148, 188, 156,0.7);
    border-radius: 20px;
}




.cuadros {
    border-radius: 20px;
    width: 46%;
    float: left;
    margin: 20px;
    align-items: center;
    background-color: rgb(148, 188, 156,0.8);
    padding-left: 2%;
}

.hist {
    text-align: center;
    margin: 5%;
}

.negacion {
    display: block;
    text-align: center;
    padding: 10%;
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 200%;
}

.seccion, .bloques {
    display: block;
}

.mento {
    border-radius: 20px;
    float: left;
    border: 1px solid black;
    margin: 2%;
    width: 20%;
}

.historial {
    background-image: url("../../static/img/fondoLogin.png");
    background-size: cover;
    background-position-x: center;
}

.ahfe {
    font-size: 80%;
    padding-bottom: 10%;
    padding-top: 10%;
    display: block;
    text-align: center;
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

.ahorros {
    display: block;
    text-align: center;
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 15px;
}

.año {
    display: block;
    text-align: center;
}

.mensaje {
    clear: both;
    text-align: center;
    padding: 20px;
}