h1, li, h2, form, div {
    display: block;
}

body {
    background: lightslategray;
}

.seleccionar {
    color: black;
    background-color: gray;
}

.eliminar {
    color: black;
    background-color: tomato;
}

.links {
    border: 1px solid lightcyan;
    margin: 10px;
}

.links li {
    display: inline-block;
    margin: 15px;
}

.acciones1 form, .acciones2 form{
    margin: 20px;
}

.mensaje {
    clear: both;
    text-align: center;
    border: 1px solid black;
}

.acciones {
    display: flex;
  }
  
.acciones div {
    flex: 1;
    padding: 10px;
}

.acciones .acciones1 {
    background-color: lightgreen;
    text-align: center;
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 15px;
}

.acciones .acciones2 {
    background-color: lightgreen;
    text-align: center;
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 15px;
}