* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gabarito', sans-serif;
}

a {
    color: #000000;
    text-decoration: none;
}

ul {
    list-style: none;
}

.avatar {
    border-radius: 50%;
}

.nav-background {
    width: 90%;
    margin: auto;
}

.container {
    background-color: white;
}

.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-brand {
    width: 50px;
}

.nav-main ul {
    display: flex;
}

.nav-main li {
    padding: 10px;
}

.nav-menu li a:hover{
    border-bottom: 2px solid;
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}

hr {
    color: black;
    height: 5px;
    background-color: black;
    border: none;
}

.margin-agenda {
    width: 60%;
    margin: auto;
    border: black;
}