{% load static %}
<haed>
    <link rel="stylesheet" href="{% static 'css\styles.css' %}">
</haed>

<div class="nav-background">
    <nav class="nav-main">
    <img src="{% static '/img/PiesCO2.png' %}" class="nav-brand">
    <ul class="nav-menu">
        <li>
            <a href="/Agenda/info">Información</a>
        </li>
        <li>
            <a href="/Agenda/config">Configuración</a>
        </li>
        <li>
            <a href="/Agenda">Agenda</a>
        </li>
        {%if user.is_authenticated%}
        <li>
            <a href="{% url 'historial' %}">Historial</a>
        </li>
        <li>
            <a href="{% url 'logout' %}">Cerrar Sesion</a>
        </li>
        {%endif%}
    </ul>
    <ul>
        {% if user.is_authenticated %}
        <p>{{ user.username }}</p>
        {% else %}
        <a href="{% url 'login_view' %}">Inicia sesion</a>
        {% endif %}
    </ul>
    <ul>
        <li>
            <a href="#">
                <img src="https://i.pravatar.cc/50" class="avatar">
            </a>
        </li>
    </ul>
    </nav>
    <hr>
</div>