<nav>
    <ul>
        <li>
            <a href="/MiAgenda">Agenda</a>
        </li>
        <li>
            <a href="/MiAgenda/config/historial">Historial</a>
        </li>
    </ul>
</nav>


{% block content %}
<h1>Transportes</h1>

{% for acc in Acciones %}
{% if "Transportes" == acc.Categoria %}

{% if acc.id in Valores %}
<h2>{{acc.Accion}}</h2>
<form action="{% url 'Cambiar_Falso' acc.id %}" method="POST">
    {% csrf_token %}
    <button>Eliminar</button>
</form>
{% else %}
<h2>{{acc.Accion}}</h2>
<form action="{% url 'Cambiar_Verdad' acc.id %}" method="POST">
    {% csrf_token %}
    <button>Seleccionar</button>
</form>
{% endif %}

{% endif %}
{% endfor %}




<h1>Alimentacion</h1>

{% for acc in Acciones %}
{% if "Alimentacion" == acc.Categoria %}

{% if acc.id in Valores %}
<h2>{{acc.Accion}}</h2>
<form action="{% url 'Cambiar_Falso' acc.id %}" method="POST">
    {% csrf_token %}
    <button>Eliminar</button>
</form>
{% else %}
<h2>{{acc.Accion}}</h2>
<form action="{% url 'Cambiar_Verdad' acc.id %}" method="POST">
    {% csrf_token %}
    <button>Seleccionar</button>
</form>
{% endif %}

{% endif %}
{% endfor %}

<h1>Electricidad</h1>

{% for acc in Acciones %}
{% if "Electricidad" == acc.Categoria %}

{% if acc.id in Valores %}
<h2>{{acc.Accion}}</h2>
<form action="{% url 'Cambiar_Falso' acc.id %}" method="POST">
    {% csrf_token %}
    <button>Eliminar</button>
</form>
{% else %}
<h2>{{acc.Accion}}</h2>
<form action="{% url 'Cambiar_Verdad' acc.id %}" method="POST">
    {% csrf_token %}
    <button>Seleccionar</button>
</form>
{% endif %}

{% endif %}
{% endfor %}

<h1>Vida Diaria</h1>

{% for acc in Acciones %}
{% if "Vida diaria" == acc.Categoria %}

{% if acc.id in Valores %}
<h2>{{acc.Accion}}</h2>
<form action="{% url 'Cambiar_Falso' acc.id %}" method="POST">
    {% csrf_token %}
    <button>Eliminar</button>
</form>
{% else %}
<h2>{{acc.Accion}}</h2>
<form action="{% url 'Cambiar_Verdad' acc.id %}" method="POST">
    {% csrf_token %}
    <button>Seleccionar</button>
</form>
{% endif %}

{% endif %}
{% endfor %}

{% endblock %}