<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/info_styles.css' %}">
    <title>Información</title>
</head>
<body>
    <section class="contenido">
        <div class="mostrador" id="mostrador">
            <div class="fila">
                <div class="item" onclick="cargar(this)">
                    <div class="contenedor-foto">
                        <img src="{% static '/img/iconoAlimento.png' %}" alt="">
                    </div>
                    <p class="descripcion">Alimentación</p>
                    <p class="sub_descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid consequuntur ea iusto minus numquam, officia pariatur quidem rem velit. Assumenda atque eius est et fuga in iusto, laborum quaerat?</p>
                </div>
                <div class="item" onclick="cargar(this)">
                    <div class="contenedor-foto">
                        <img src="{% static '/img/iconoElectricidad.png' %}" alt="">
                    </div>
                    <p class="descripcion" id>Energía</p>
                    <p class="sub_descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam autem cum debitis eum ex excepturi explicabo, fugiat harum illo inventore modi natus nobis numquam porro reprehenderit sequi similique suscipit totam.</p>
                </div>
                <div class="item" onclick="cargar(this)">
                    <div class="contenedor-foto">
                        <img src="{% static '/img/iconoTransporte.png' %}" alt="">
                    </div>
                    <p class="descripcion">Transporte</p>
                    <p class="sub_descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam iure pariatur perferendis rerum voluptate! Asperiores corporis culpa cum dolor earum eos fugiat id molestiae neque, officiis, provident quasi rem suscipit.</p>
                </div>
            </div>
        </div>
        <!-- CONTENEDOR DEL ITEM SELECCIONADO -->
        <div class="seleccion" id="seleccion">
            <div class="cerrar" onclick="cerrar()">
                &#x2715
            </div>
            <div class="info">
                <img src="img/1.png" alt="" id="img">
                <h2 id="modelo">NIKE MODEL 1</h2>
                <p id="descripcion">Descripción Modelo 1</p>
            </div>
        </div>
    </section>

    <script src="{% static '/js/info.js' %}"></script>
</body>
</html>