<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Agenda de Carbono</title>
    {% load static %}
    <link rel="icon" href="../static/img/PiesCO2.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css\styles.css' %}">
<body>
    <div class="pagina">
        <div class="agenda">
            <header>
                <h1 id="titulo">Agenda</h1>
            </header>

            <section>
                <table id="tabla">
                    <tr id="dia">
                        <th></th>
                        <th>Dia 1</th>
                        <th>Dia 2</th>
                        <th>Dia 3</th>
                        <th>Dia 4</th>
                    </tr>
                    <tr>
                        <td>Reducir consumo de carne</td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>Usar medios de transportes ecológicos</td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>Reutilizar agua</td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>Utilizar la luz natural</td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                    </tr>
                </table>
            </section>
        </div>

        <aside class="Informacion">
            <h2>Información</h2>
            <article>
                <hgroup>
                    <h3>Reducir consumo de carne</h3>
                </hgroup>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium autem esse incidunt nemo ratione repellendus sequi voluptate. Ex, nemo, vero.</p>
            </article>
            <article>
                <hgroup>
                    <h3>Usar medios de transportes ecológicos</h3>
                </hgroup>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eligendi, facilis hic nisi placeat possimus praesentium provident rerum sint vero.</p>
            </article>
            <article>
                <hgroup>
                    <h3>Reutilizar agua</h3>
                </hgroup>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eligendi, facilis hic nisi placeat possimus praesentium provident rerum sint vero.</p>
            </article>
            <article>
                <hgroup>
                    <h3>Utilizar la luz natural</h3>
                </hgroup>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eligendi, facilis hic nisi placeat possimus praesentium provident rerum sint vero.</p>
            </article>
        </aside>
        <footer>
            ©Derechos reservados 2023
        </footer>
    </div>
</body>
</html>