<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <title>STRCO₂ - Inicio</title>
    <link rel="stylesheet" href="{% static '/css/principal.css' %}">
<head>

<body>
    <div class="banner">
        <div class="navbar">
            <img src="static\img\LogoSTRCO2.png" class="logo" onclick="location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'">
            <ul>
                <li><a onclick="location.href='/Agenda/info/'">Acerca de</a></li> 
            </ul>
        </div>
        <div class="content">
            <h1>Gestiona tu propia agenda de actividades ecológicas</h1>
            <p>Accede, informate, agenda y realiza diversas actividades las cuales pueden contribuir a bajar la huella de carbono, podrás obtener 
                diversas acciones a realizar por tu cuenta cada semana para reducir los gases de efecto invernadero en el planeta. <br> Para poder acceder, ¡registrate!, o si ya posees una cuenta, ¡inicia sesión para continuar con tus actividades!</p>
        <div>
            <button type="button" onclick="location.href='register'">Registrarse</button>
            <button type="button" onclick="location.href='login'">Iniciar Sesión</button>
        </div>
    </div>
</body>
<html>